
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand" href="#">Surf Aliança</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
   data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" 
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastros
          <i class="fa fa-cog"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="store">Loja</a>
          <a class="dropdown-item" href="board-model">Modelos</a>
          <a class="dropdown-item" href="fin-system">Sistema de quilhas</a>
          <a class="dropdown-item" href="team">Equipe</a>
          <a class="dropdown-item" href="board-type">Tipo de Prancha</a>
          <a class="dropdown-item" href="construction">Construção</a>
        </div>
       
      </li>
      <!-- <li class="nav-item" *ngFor="let menu of menus">
        <a class="nav-link text-white" href="{{ menu.url }} ">{{ menu.label }}
          <i class="{{menu.icon}}"></i>
        </a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" 
        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ currentUser.email }}
          <i class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click) = "logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>





