<div class="container">
  <div class="py-5">
    <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h5 class="card-title text-center">Configurações do fabricante/lojista</h5>
          <div class="form-group col-md-12">
            <label>Logomarca:</label>
            <div class="row">
              <div class="col-md-12">
                <img *ngIf="logo" class="img-thumbnail" src={{logo}}>
              </div>
            </div>
            <div class="py-3">
              <label id="labelFileImport" class="btn btn-primary" for="file">
                <i class="fa fa-upload"></i>
              </label>
              <input type="file" name="fileToUpload" id="file" #file style="display: none;"
                (change)="onFileChange($event)" accept=".jpg, .png, .gif, .tiff" required />
            </div>
          </div>
          <form [formGroup]='form'>
            <div class="form-group col-md-12">
              <label>Nome:</label>
              <input type="text" formControlName="name" placeholder="Informe o nome..." class="form-control">
              <div *ngIf="submitted && f.name.errors">
                <p *ngIf="f.name.errors.required" class="text-danger small">* Informe o nome</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Descrição:</label>
              <input type="text" formControlName="description" placeholder="Informe a descrição..."
                class="form-control">
              <div *ngIf="submitted && f.description.errors">
                <p *ngIf="f.description.errors.required" class="text-danger small">* Informe a descrição</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>CNPJ:</label>
              <input type="text" formControlName="cnpj" placeholder="Informe o CNPJ..." class="form-control"
                mask="00.000.000/0000-00">
              <div *ngIf="submitted && f.cnpj.errors">
                <p class="text-danger small" *ngIf="f.cnpj.errors.required">* Informe o CNPJ</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Nome do Contato:</label>
              <input type="text" formControlName="contact" placeholder="Informe o nome do contato..."
                class="form-control">
              <div *ngIf="submitted && f.contact.errors">
                <p *ngIf="f.contact.errors.required" class="text-danger small">* Informe o nome do contato</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Telefone de contato:</label>
              <input type="text" formControlName="phone" placeholder="Informe o telefone de contato..."
                class="form-control" mask="(00)00000-0000">
              <div *ngIf="submitted && f.phone.errors">
                <p *ngIf="f.phone.errors.required" class="text-danger small">* Informe o telefone de contato</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Política de troca:</label>
              <textarea formControlName="exchangePolicy" placeholder="Informe a política de troca..."
                class="form-control" rows="3"></textarea>
            </div>

            <div class="form-group col-md-12">
              <label>Política de entrega:</label>
              <textarea formControlName="deliveryPolicy" placeholder="Informe a política de entrega..."
                class="form-control" rows="3"></textarea>
            </div>

            <div class="form-group col-md-12">
              <label>Valor mínimo para compra:</label>
              <input currencyMask max="99999999"
                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                maxlength="18" type="text" formControlName="valueMinimum"
                placeholder="Informe o valor mínimo de compra..." class="form-control">
              <div *ngIf="submitted && f.valueMinimum.errors">
                <p *ngIf="f.valueMinimum.errors.required" class="text-danger small">* Informe o valor mínimo de compra
                </p>
              </div>
            </div>

            <h5>Endereço de cobrança</h5>
            <hr>
            <div class="form-group col-md-12">
              <label>Cep:</label>
              <div class="input-group mb-3">
                <input type="text" mask="00000-000" maxlength="9" formControlName="cep" placeholder="Informe o CEP..."
                  class="form-control">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" id="button-addon2" (click)="onSearchLocation()">
                    <i class="fas fa-search-location"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="submitted && f.cep.errors">
                <p *ngIf="f.cep.errors.required" class="text-danger small">* Informe o CEP</p>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>Rua:</label>
              <input type="text" maxlength="500" formControlName="street" placeholder="Informe o logradouro..."
                class="form-control">
              <div *ngIf="submitted && f.street.errors">
                <p *ngIf="f.street.errors.required" class="text-danger small">* Informe o logradouro</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Número:</label>
              <input type="text" maxlength="255" formControlName="number" placeholder="Informe o numero..."
                class="form-control">
              <div *ngIf="submitted && f.number.errors">
                <p *ngIf="f.number.errors.required" class="text-danger small">* Informe o número</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Bairro:</label>
              <input type="text" maxlength="255" formControlName="district" placeholder="Informe o bairro..."
                class="form-control">
              <div *ngIf="submitted && f.district.errors">
                <p *ngIf="f.district.errors.required" class="text-danger small">* Informe o bairro</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Cidade:</label>
              <input type="text" maxlength="255" formControlName="nameCity" placeholder="Informe a Cidade..."
                class="form-control">
              <div *ngIf="submitted && f.nameCity.errors">
                <p *ngIf="f.nameCity.errors.required" class="text-danger small">* Informe a Cidade</p>
              </div>
            </div>

          </form>
          <div class="form-group col-md-12">
            <button type="button" class="btn btn-rounded btn-primary" (click)="onSubmit()">
              <i class="fa fa-save"></i>
            </button>
            <button type="button" class="btn btn-rounded btn-danger ml-2" (click)="onCancel()">
              <i class="fa fa-times"></i>
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>