<div class="container">
    <div class="py-5">
        <form [formGroup]="formAdd">
            <div class="form-group col-md-6">
                <h5 class="text-white">Cadastro de Equipe</h5>
            </div>
            <div class="form-group col-md-6">
                <label class="text-white">Nome:</label>
                <input type="text" class="form-control" id="name" formControlName="name" maxlength="250"
                    placeholder="Informe o Nome" />
                <div *ngIf="submitted && q.name.errors">
                    <p *ngIf="q.name.errors.required" class="text-danger small">* Informe o Nome</p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="text-white">Descrição:</label>
                <textarea type="textarea" class="form-control" id="description" formControlName="description"
                    placeholder="Informe a Descrição" rows="5" maxlength="1000"></textarea>
                <div *ngIf="submitted && q.description.errors">
                    <p *ngIf="q.description.errors.required" class="text-danger small">* Informe a Descrição</p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <input #fileUpload type="file" class="form-control-file text-white" name="fileUpload"
                    (change)="onFileChange($event)" multiple />
            </div>
            <div class="col-md-1">
                <table class="table">
                    <thead>
    
                    </thead>
                    <tbody>
                        <tr *ngFor='let teamImage of team.teamImages'>
                            <td>
                                <img width="100px" height="100px" src="{{getImage(teamImage.imageName)}}">
                            </td>
                            <td>
                                <a class="ml-2" tabindex="-1" role="button" aria-disabled="true" title="Excluir"
                                (click)="deleteRow(teamImage)">
                                <i class="fa fa-times text-danger"></i>
                              </a>
      
                            </td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-rounded btn-success text-uppercase" (click)="onSave()">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="button" class="btn btn-rounded btn-danger text-uppercase" (click)="onCancel()">
                    <i class="fa fa-times"></i> Cancelar
                </button>
            </div>
        </form>
    </div>
</div>