<div class="container">
    <div class="py-5">
        <form [formGroup]="formAdd">
            <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
                <div class="card text-white bg-dark">
                    <div class="card-body">

                        <h5 class="card-title text-center">Cadastro de Equipe</h5>

                        <div class="form-group col-md-12">
                            <label class="text-white">Nome:</label>
                            <input type="text" class="form-control" id="name" formControlName="name" maxlength="250"
                                placeholder="Informe o Nome" />
                            <div *ngIf="submitted && q.name.errors">
                                <p *ngIf="q.name.errors.required" class="text-danger small">* Informe o Nome</p>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="text-white">Descrição:</label>
                            <textarea type="textarea" class="form-control" id="description"
                                formControlName="description" placeholder="Informe a Descrição" rows="5"
                                maxlength="1000"></textarea>
                            <div *ngIf="submitted && q.description.errors">
                                <p *ngIf="q.description.errors.required" class="text-danger small">* Informe a Descrição
                                </p>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="py-3">
                                <label id="labelFileImport" class="btn btn-primary" for="file">
                                    <i class="fa fa-upload"></i>
                                </label>
                                <input type="file" #fileUpload name="fileToUpload" id="file" #file
                                    style="display: none;" (change)="onFileChange($event)"
                                    accept=".jpg, .png, .gif, .tiff, .jfif" required multiple />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <table class="table">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr *ngFor='let teamImage of team.teamImages'>
                                        <td>
                                            <img width="100px" height="100px" src="{{getImage(teamImage.imageName)}}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="form-group col-md-12">
                            <button type="button" class="btn btn-rounded btn-primary" (click)="onSave()">
                                <i class="fa fa-save"></i>
                            </button>
                            <button type="button" class="btn btn-rounded btn-danger ml-2" (click)="onCancel()">
                                <i class="fas fa-arrow-circle-left"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>